config_file_profile               = "DEFAULT"
region                            = "REGION_NAME"
tenancy_ocid                      = "TENANCY_OCID"
compartment_ocid                  = "COMPARTMENT_OCID"
namespace                         = "NAMESPACE"
region_key                        = "REGION_KEY"
devops_ons_topic_ocid             = "ONS_TOPIC_ID"
oke_cluster_ocid                  = "OKE_CLUSTER_ID"
github_repo_url                   = "GITHUB_REPOSITORY_URL"
github_user                       = "GITHUB_USER"
github_access_token_secret_id     = "GITHUB_SECRET_OCID"
ocir_user                         = "OCIR_USER"
user_auth_token_id                = "USER_AUTH_TOKEN_OCID"
adb_admin_password_id             = "ADB_ADMIN_PASSWORD_OCID"
adb_service                       = "ADB_SERVICE"
adb_id                            = "ADB_OCID"
paf_image_repository              = "PAF_IMAGE_REPOSITORY"
paf_version                       = "PAF_VERSION"
genai_model_id                    = "OCI_GENAI_MODEL_ID"
paf_canvas_run_endpoint_url       = "PAF_CANVAS_RUN_ENDPOINT_URL"
paf_canvas_room_id                = "PAF_CANVAS_ROOM_ID"
paf_canvas_timeout_ms             = "PAF_CANVAS_TIMEOUT_MS"
paf_canvas_verify_tls             = "PAF_CANVAS_VERIFY_TLS"
